<!-- <!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin Dashboard</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/table.css">


</head>

<body>


	<header>

		<div class="logosec">
			<img src="img/Sellular Logo.png" class="sel1"><div class="logo"><h2>SELLULAR</h2></div>
			<img src="/img/menu_icon.png"
				class="icn menuicn"
				id="menuicn"
				alt="menu-icon">
		</div>

		<div class="searchbar">
			<input type="text"
				placeholder="Search">
			<div class="searchbtn">
			<img src="/img/search_icon.png"
					class="icn srchicn"
					alt="search-icon">
			</div>
		</div>

		<div class="message">
			<div class="circle"></div>
			<img src="/img/bell_icon.png"
				class="icn"
				alt="">
			<div class="dp">
			<img src="/img/profile_icon.png"
					class="dpicn"
					alt="dp">
			</div>
		</div>

	</header>

	<div class="main-container">
		<div class="navcontainer">
			<nav class="nav">
				<div class="nav-upper-options">
					
					<a href="/dashboard"><div class="nav-option option1">
						<img src="/img/dashboard_icon.png"
							class="nav-img"
							alt="dashboard">
						<h3> Dashboard</h3>
					</div></a>

					<a href="/createusers"><div class="nav-option option2">
						<img src="/img/user_plus_icon.png"
							class="nav-img"
							alt="articles">
						<h3>Create Users</h3>
					</div></a>

					<a href="/verification"><div class="nav-option option3">
						<img src="/img/report_icon.png"
							class="nav-img"
							alt="report">
						<h3>Verification</h3>
					</div></a>

					<a href="/institution"><div class="nav-option option4">
						<img src="/img/inst_icon.png"
							class="nav-img"
							alt="institution">
						<h3> Institution</h3>
					</div></a>

					<a href="/profile"><div class="nav-option option5">
						<img src="/img/profile_icon.png"
							class="nav-img"
							alt="blog">
						<h3>Profile</h3>
					</div></a>

					<a href="/settings"><div class="nav-option option6">
						<img src="/img/settings_icon.png"
							class="nav-img"
							alt="settings">
						<h3> Settings</h3>
					</div></a>

					<a href="/login"><div class="nav-option logout">
						<img src="/img/logout_icon.png"
							class="nav-img"
							alt="logout">
						<h3>Logout</h3>
					</div></a>

				</div>
			</nav>
		</div>
		<br>
		<table>
			<thead>
				<tr>
					<th>NAME</th>
					<th>INSTITUTION</th>
					<th>ID STATUS</th>
					<th>ADMIN</th> 
				</tr>
			</thead>
			<tbody>
				<% if(users.length>0) { %>
					<% users.forEach(user =>{ %>
						<tr>
							  <td data-title="Name"><%= user.name %></td>
					<td data-title="Institution"><%= user.collegeId %></td>
					<td data-title="ID_Status"><%= user.verified %></td>
					<td data-title="Admin"><button class="buttonX">ADD</button></td>
						</tr>
					<% })  } else {%>
                     <h3>No users </h3>
					 <% } %> 
				<tr>
                    <td data-title="Name">Name1</td>
					<td data-title="Institution">Institution1</td>
					<td data-title="ID_Status">Valid</td>
					<td data-title="Admin"><button class="buttonX">ADD</button></td>
				</tr>
				<tr>
                    <td data-title="Name">Name2</td>
					<td data-title="Institution">Institution2</td>
					<td data-title="ID_Status">Invalid</td>
					<td data-title="Admin"><button class="buttonX">ADD</button></td>
				</tr>
                <tr>
                    <td data-title="Name">Name3</td>
					<td data-title="Institution">Institution3</td>
					<td data-title="ID_Status">Pending</td>
					<td data-title="Admin"><button class="buttonX">ADD</button></td>
				</tr>
                <tr>
                    <td data-title="Name">Name4</td>
					<td data-title="Institution">Institution4</td>
					<td data-title="ID_Status">Pending</td>
					<td data-title="Admin"><button class="buttonX">ADD</button></td>
				</tr>
                <tr>
                    <td data-title="Name">Name5</td>
					<td data-title="Institution">Institution5</td>
					<td data-title="ID_Status">Pending</td>
					<td data-title="Admin"><button class="buttonX">ADD</button></td>
				</tr>
                  
                
			</tbody>
		</table>
        
    </div>    
	<script src="/js/index.js"></script>
</body>
</html>
 -->

 <%- include('partials/headerAndNav.ejs') %>
<style>

	.verification {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.verification-table {
  	font-family: Arial, Helvetica, sans-serif;
  	border-collapse: collapse;
  	width: 100%;
	}

	.verification-table td, .verification-table th {
  	border: 1px solid #ddd;
  	padding: 8px;
		text-align: center;
	}

	.verification-table tr:nth-child(even){
		background-color: #f2f2f2;
	}

	.verification-table tr:hover {
		background-color: #ddd;
		cursor: pointer;
	}

	.verification-table th {
  	padding-top: 12px;
  	padding-bottom: 12px;
  	background-color: #038181;
  	color: white;
	}

	.verification-table th:nth-child(4) {
		width: 0;
	}

	.verification-table tr td:nth-child(4) {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.verification-table tr td:nth-child(4) img {
		width: 15vw;
		height: auto;
	}

	@media screen and (max-width: 768px) {
		.verification-table th:nth-child(4) {
			display: none;
		}
		
		.verification-table tr td:nth-child(4) {
			display: none;
		}
	}

	.verification-table th:nth-child(5) {
		width: 0;
	}

	.verification-table tr td:nth-child(5) {
		width: fit-content;
	}

	button {
		padding: 0.25rem 0.75rem;
		border-radius: 25px;
		background-color: #038181;
		color: #fff;
		border: 0;
	}

	.change-filters-btn {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		margin: 0.5rem 0;
		padding: 0.5rem 0.75rem;
	}
</style>
<section class="verification">
	<button class="change-filters-btn">
		<img src="img/filter.png" alt="" />
		<span>Change Filters</span>
	</button>
	<table class="verification-table">
			<thead>
				<tr>
					<th>#</th>
					<th>College</th>
					<th>Name</th>
          <th>Contact</th>
					<th>Mail</th>
					<th>ID Status</th>
					<th>Admin</th>
				</tr>
			</thead>
			<tbody>
				<% let i = 0; %>
				<% if(users.length>0) { %>
					<% users.forEach(user =>{ %>
						<% i++ %>
						<tr>
							<td><%= i %></td>
							<td data-title="Institution"><%= user.collegeId %></td>
							<td data-title="Name"><%= user.name %></td>
							<td data-title="Contact"><%= user.phone %></td>
							<td data-title="Mail"><%= user.email %></td>
							<td data-title="ID_Status"><%= user.verified %></td>
							<td data-title="Admin"><button class="buttonX1">Add</button></td>
						</tr>
					<% })  } else {%>
                     <h3>No users </h3>
					 <% } %>  
					              
			</tbody>
		</table>
</section>
<%- include('partials/footer.ejs') %>