<%- include('partials/headerAndNav.ejs') %>
        <div class="userform">
            <form>
              <h1>Tech Team</h1>
                <div class="pfp">
                    <img src="/img/profile_icon.png" alt="">
                    <p>NAME:<%= username %> </p>
                </div>
                <div class="row">
					<p>EMAIL: <%= email %> </p>
					<p>PHONE: <%= phone %> </p>
                    <p>INSTITUTION: <%= college %> </p>
                </div>
                <div class="row2">
                    <a href="/editProfile" class="row1">Edit profile</a>
                    <a href="/change_pass1" class="row1">Change Password</a>
                </div>

            </form>
        </div>
    </div>


    </div>
<%- include('partials/footer.ejs') %>